@import '~@fluentui/react/dist/sass/References.scss';
@import '../incentives-dashboard.module.scss';

.incentiveCard {
  @extend .cardSmall;
  max-width: 400px;
  flex: 1;
  padding-left: 0px;
  padding-right: 0px;
}

.companyHeaderRow {
  @extend .row;
  height: 50px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2.2px solid #4884AB;
}

.roleWithLabel {
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: center;
  div {
    font-size: 1.1em;
    font-weight: bold;
    margin-left: 2px;
    width: 100%;
  }
  span {
    font-size: 0.8em;
    color: white;
    background-color: #4884AB;
    flex: 1;
    display: flex;
    align-items: center;
    padding: 0px 3px;
  }
}

.pointsCol {
  width: 70%;
  display: flex;
  flex-direction: column;
}

.pointsCol .label {
  font-size: 1.1em;
  color: #4884AB;
}

.pointsCol .value {
  font-size: 1.3em;
  font-weight: bold;
  color: #4884AB;
}

.pointsCol .cap {
  font-size: 1.3em;
  font-weight: bold;
  color: #AEAEAE;
}