@import '~@fluentui/react/dist/sass/References.scss';

.homeContainer {
  display: flex;
  flex-direction: column;
  padding: 10px 7px;
}

.header {
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 10px;
  margin-top: 0;
}

.linkContainer {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  :hover {
    background-color: #f4f4f4;
  }
}

.pageIco {
  border: 1px solid black;
  padding: 5px 5px;

  border-radius: 6px;
}

.icoFont {
  font-size: 16px;
  text-align: center;
}

.linkButton {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 5px;
  width: 150px;
  cursor: pointer;
}